/* reset */
html,head,body,section,div,h1,h2,h3,h4,h5,h6,p,i,span,ul,li,a {
  margin: 0;
  padding: 0;
}
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS PGothic", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* mixin */
/* media mixin */
@mixin mobile($max-width: 640px) {
  @media only screen and(max-width: $max-width) {
    @content;
  }
}
@mixin tablet($min-width: 641px) {
  @media only screen and(min-width: $min-width) {
    @content;
  }
}
@mixin pc($min-width: 881px) {
  @media only screen and(min-width: $min-width) {
    @content;
  }
}
@mixin pc-lg($min-width: 1056px) {
  @media only screen and(min-width: $min-width) {
    @content;
  }
}

/* clear fix mixin */
@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

/* colors */
$header-bg: #383c3c;
$header-font: #fff;
$box: #1f4d7d;

$circle-bg: #d6dadc;
$circle-color: #97a71d;
$circle-size: 120px;
$transition-length: 1s;

$inset-size: 90px;
$inset-color: #fbfbfb;
$inset-shadow: 6px 6px 10px rgba(0,0,0,0.2);

$percentage-color: #97a71d;
$percentage-font-size: 22px;
$percentage-text-width: 44px;

/* custom */
/* utility */
.container {
  width: 1008px;
  margin: 0 .8%;
  @include tablet {
    margin: 0 5%;
  }
  @include pc {
    margin: 0 2%;
  }
  @include pc-lg {
    margin: 0 auto;
  }
}
.radial-progress {
  width: $circle-size;
  height: $circle-size;
  background: $circle-bg;
  border-radius: 50%;
  .circle {
    .mask, .fill {
      position: absolute;
      width: $circle-size;
      height: $circle-size;

      border-radius: 50%;

      transition: -webkit-transform $transition-length;
      transition: -ms-transform $transition-length;
      transition: transform $transition-length;
      -webkit-backface-visibility: hidden;
    }
    .mask {
      clip: rect(0, $circle-size, $circle-size, $circle-size/2);
      .fill {
        clip: rect(0, $circle-size/2, $circle-size, 0);
        background: $circle-color;
      }
    }
    .shadow {
      width: $circle-size;
      height: $circle-size;
      position: absolute;
      border-radius: 50%;
      box-shadow: $inset-shadow inset;
    }
  }
  .inset {
    width: $inset-size;
    height: $inset-size;
    position: absolute;
    margin-left: ($circle-size - $inset-size)/2;
    margin-top: ($circle-size - $inset-size)/2;
    background: $inset-color;
    border-radius: 50%;
    box-shadow: $inset-shadow;
    .percentage {
      width: $percentage-text-width;
      position: absolute;
      top: ($inset-size - $percentage-font-size)/2;
      left: ($inset-size - $percentage-text-width)/2;
      line-height: 1;
      text-align: center;
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: $percentage-color;
      font-weight: 800;
      font-size: $percentage-font-size;
    }
  }

  $increment: 180deg / 100;
  @for $i from 0 through 100 {
    &[data-progress="#{$i}"] {
      .circle {
        .mask.full, .fill {
          -webkit-transform: rotate($increment * $i);
          -ms-transform: rotate($increment * $i);
          transform: rotate($increment * $i);
        }
        .fill.fix {
          -webkit-transform: rotate($increment * $i * 2);
          -ms-transform: rotate($increment * $i * 2);
          transform: rotate($increment * $i * 2);
        }
      }
      .inset .percentage:before {
        content: "#{$i}%";
      }
    }
  }
}

/* header, navbar */
header {
  background: $header-bg;
  a {
    display: block;
    padding: 8px 2px;
    color: $header-font;
    font-weight: bold;
  }
}
nav {
}
.navbar {
  .logo {
    display: block;
  }
  &-left {
    float: left;
  }
  &-right {
    text-align: right;
  }
  @include clearfix;
}
.header {
  h1 {
    margin: 12px 0;
  }
}

/* body */
/* box */
.box-container {
  display: flex;
  justify-content: center;
}
.box {
  margin: 0 4px;
  padding: 20px 16px;
  border-radius: 4px;
  background: $box;
}
